<f:layout name="BackendModule"/>

<f:section name="content">
  <div class="neos-control-group">
    <f:for as="statusCode" each="{statusCodes}">
      <f:link.action
        action="index"
        controller="Backend"
        arguments="{statusCode: statusCode}"
        class="neos-button {f:if(condition: '{statusCode} === {activeStatusCode}', then: 'neos-active', else: '')}"
      >
        {statusCode}
      </f:link.action>
    </f:for>
  </div>

  <f:if condition="{resultItems -> f:count()} > 0">
    <f:then>
      <f:render partial="Listing/Table" arguments="{items: resultItems}"/>
    </f:then>
    <f:else>
      <f:render section="NoResults" arguments="{_all}"/>
    </f:else>
  </f:if>
</f:section>

<f:section name="NoResults">
  <div class=​"neos-row-fluid">
    <f:if condition="{activeStatusCode} > 0">
      <f:then>
        ​<f:translate id="backend.module.no_items" source="Modules">No items</f:translate>
      </f:then>
      <f:else>
        ​<f:translate id="backend.module.no_status_code_match" source="Modules" arguments="{0: activeStatusCode}">No matching status code</f:translate>
      </f:else>
    </f:if>
  </div>
</f:section>
